* {
  box-sizing: border-box;
}
// reuse
.container {
  height: 100%;
  max-width: 1280px;
  padding: 20px;
  margin: 0 auto;
}
.header {
  background-color: lemonchiffon;
  height: 100vh;
  position: relative;
}
.start {
  border: 2px solid #000;
  border-radius: 3px;
  width: 60%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  padding: 20px;
  transform: translateY(-50%);
  display: flex;
  
  .photo {
    height: 100px;
    width: 200px;
    &_img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
  }
}
