* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background: #000;
  padding: 10px 0;
  position: relative;
}

.container {
  padding: 0 10px;
  max-width: 1200px;
  margin: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  border: 1px solid #fff;
  border-radius: 50%;
}

.logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.menu-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #fff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.menu-btn-hamburger {
  width: 30px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.menu-btn-hamburger::before, .menu-btn-hamburger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.menu-btn-hamburger::before {
  -webkit-transform: translateY(-13px);
          transform: translateY(-13px);
}

.menu-btn-hamburger::after {
  -webkit-transform: translateY(13px);
          transform: translateY(13px);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-list .nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-list .nav-link:hover {
  color: sandybrown;
}

.open .menu-btn .menu-btn-hamburger {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  background-color: transparent;
}

.open .menu-btn .menu-btn-hamburger::before {
  -webkit-transform: rotate(45deg) translate(21px, -21px);
          transform: rotate(45deg) translate(21px, -21px);
}

.open .menu-btn .menu-btn-hamburger::after {
  -webkit-transform: rotate(-45deg) translate(21px, 21px);
          transform: rotate(-45deg) translate(21px, 21px);
}

.open .nav-list {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.open .nav-list .nav-item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .nav-list {
    position: relative;
    width: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    -webkit-transform: initial;
            transform: initial;
  }
  .nav-list .nav-item:not(:last-child) {
    padding-right: 20px;
  }
  .nav-list .nav-link {
    font-size: 30px;
  }
}
/*# sourceMappingURL=test.css.map */