html{
    height: 100%;
}
body{
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-columns: 250px auto;
}
.nav_bar{
    box-sizing: border-box;
    padding-top: 80px;
    height: 100%;
    display: grid;
    grid-template-rows: 80px auto;
    box-shadow: 0 0 12px rgba(46, 52, 56, 0.1);
}
.nav_bar .menu_header{}
.navbar .menu_list{}